* {
    color: #ececec;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.app {
  background: url("/lop.png") no-repeat center center;
  background-size: cover;
  background-color: #212121;
  display: flex;
}
/* MOBILE FIX */
/* MOBILE: show ONLY chat, hide sidebar */
@media (max-width: 768px) {
  .app {
    height: 100vh;
    overflow: hidden;
  }

  .sidebar {
    display: none;
  }

  .chatWindow {
    width: 100%;
    height: 100vh;
  }
}


