* {
    color: #ececec;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.app {
  background: url("/lop.png") no-repeat center center;
  background-size: cover;
  background-color: #212121;
  display: flex;
}
/* MOBILE FIX */
@media (max-width: 768px) {
  .app {
    flex-direction: column;   /* stack vertically */
    height: 100vh;
    overflow: hidden;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .chatWindow {
    width: 100%;
    flex: 1;
  }
}
