.sidebar {
    position: relative;
    background-color: black;
    
    background-size: cover;
    background-position: center;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    border-radius: 10%;
}

/* Overlay to create opaque effect */
.sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(23, 23, 23, 0.85); /* 85% opaque dark overlay */
    z-index: 2;
}

/* Content inside sidebar should appear above overlay */
.sidebar > * {
    position: relative;
    z-index: 3;
}



button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.logo {
    height: 25px;
    width: 25px;

    object-fit: cover;
}

button span {
    font-size: 20px;
}

button:hover {
    background-color: rgba(180, 180, 180, 0.05);
}

.history {
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.sign {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;
}

.history li:hover .fa-trash {
    opacity: 1;
    color: #fff;
}

.fa-trash:hover {
    color: #f87171 !important;
}

.highlighted {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}